/* #282823; -> #353533; */
/* #20201B; ->  rgb(42, 42, 36);*/
body {
    background: rgb(42, 42, 36);
}
.who {
    background: #353533;
}
.who__statistic:last-child:after {
    background: #353533; 
}
.do__flex--top .do__item:last-child:after {
    background: rgb(42, 42, 36);
}
.do__flex:last-child .do__item:first-child:after {
    background: rgb(42, 42, 36);
}
.do__flex:last-child .do__item:last-child:after {
    background: rgb(42, 42, 36);
}
.stack__content {
    background: rgb(42, 42, 36);
}
.how {
    background: #353533;
}

.top__more:after {
    transition: 0.4s;
    transform: translateX(-50%) rotate(90deg) scale(1);
}
.top__more:hover:after {
  -webkit-transform: scale(1.1) translateX(-50%) translateY(4px) rotate(90deg);
  -ms-ransform: scale(1.1) translateX(-50%) translateY(4px) rotate(90deg);
  transform: scale(1.1) translateX(-50%) translateY(4px) rotate(90deg); 
}

.header__lang {
    position: relative;
}

.header__lang-block {
    display: none;
    font-family: 'Helvetica Neue Cyr Light';
    position: absolute;
    list-style: none;
    padding: 12px 20px;
    margin-top: 8px;
    background: #353533;
}
.header__lang-block--bottom {
}
.header__lang-block.open {
    display: block;
}

.header__lang-block li{
    padding: 4px 0;
    cursor: pointer;
}
.header__lang-block li:hover {
    color: #FFA901;
}

.portfolio__image img {
    max-height: 509px;
    margin: 0 auto;
}

.button-send-with_status {
    display: flex;
}

.button-send-with_status .status-img {
    margin: 0 12px;
    width: 50px;
    display: none;
}
.button-send-with_status .status-img.show {
    display: block;
}

#loadingBlock {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(29, 31, 32, 0.815);
}

#loadingBlock.show {
    display: flex;
}
  
  .loading {
    position: relative;
    background-color: #B9E9BB;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    -webkit-animation: 1.4s linear infinite;
            animation: 1.4s linear infinite;
    -webkit-animation-name: uy4ahxb8w;
            animation-name: uy4ahxb8w;
  }
  @-webkit-keyframes uy4ahxb8w {
    20% {
      -webkit-transform: rotate(-30deg) scale(1);
              transform: rotate(-30deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(4);
              transform: rotate(360deg) scale(4);
      background-color: white;
    }
    80% {
      -webkit-transform: rotate(720deg) scale(0.8);
              transform: rotate(720deg) scale(0.8);
    }
    90%, 100% {
      -webkit-transform: rotate(720deg) scale(1);
              transform: rotate(720deg) scale(1);
      background-color: #B9E9BB;
    }
  }
  @keyframes uy4ahxb8w {
    20% {
      -webkit-transform: rotate(-30deg) scale(1);
              transform: rotate(-30deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(4);
              transform: rotate(360deg) scale(4);
      background-color: white;
    }
    80% {
      -webkit-transform: rotate(720deg) scale(0.8);
              transform: rotate(720deg) scale(0.8);
    }
    90%, 100% {
      -webkit-transform: rotate(720deg) scale(1);
              transform: rotate(720deg) scale(1);
      background-color: #B9E9BB;
    }
  }
  .loading:before, .loading:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6bd170;
    border-radius: 3px;
  }
  .loading:before {
    right: calc(100% + 2px);
    -webkit-animation: 1.4s 0.2s ease infinite;
            animation: 1.4s 0.2s ease infinite;
    -webkit-animation-name: uy4ahxb95;
            animation-name: uy4ahxb95;
  }
  @-webkit-keyframes uy4ahxb95 {
    65% {
      -webkit-transform: translate(-200%, -100%) scale(0.2) rotate(-180deg);
              transform: translate(-200%, -100%) scale(0.2) rotate(-180deg);
      background-color: white;
    }
    70%, 100% {
      -webkit-transform: translate(0, 0) scale(1) rotate(-360deg);
              transform: translate(0, 0) scale(1) rotate(-360deg);
      background-color: #6bd170;
    }
  }
  @keyframes uy4ahxb95 {
    65% {
      -webkit-transform: translate(-200%, -100%) scale(0.2) rotate(-180deg);
              transform: translate(-200%, -100%) scale(0.2) rotate(-180deg);
      background-color: white;
    }
    70%, 100% {
      -webkit-transform: translate(0, 0) scale(1) rotate(-360deg);
              transform: translate(0, 0) scale(1) rotate(-360deg);
      background-color: #6bd170;
    }
  }
  .loading:after {
    left: calc(100% + 2px);
    -webkit-animation: 1.4s 0.2s ease infinite;
            animation: 1.4s 0.2s ease infinite;
    -webkit-animation-name: uy4ahxb96;
            animation-name: uy4ahxb96;
  }
  @-webkit-keyframes uy4ahxb96 {
    65% {
      -webkit-transform: translate(200%, 100%) scale(0.2) rotate(180deg);
              transform: translate(200%, 100%) scale(0.2) rotate(180deg);
      background-color: white;
    }
    70%, 100% {
      -webkit-transform: translate(0, 0) scale(1) rotate(360deg);
              transform: translate(0, 0) scale(1) rotate(360deg);
      background-color: #6bd170;
    }
  }
  @keyframes uy4ahxb96 {
    65% {
      -webkit-transform: translate(200%, 100%) scale(0.2) rotate(180deg);
              transform: translate(200%, 100%) scale(0.2) rotate(180deg);
      background-color: white;
    }
    70%, 100% {
      -webkit-transform: translate(0, 0) scale(1) rotate(360deg);
              transform: translate(0, 0) scale(1) rotate(360deg);
      background-color: #6bd170;
    }
  }