@import "layout/var";

.stack {
  background: url('../img/stack-bg.png') no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: calc(50% + 596px + 111px);
    border-left: 2px dashed rgba(255, 255, 255, 0.13);
    border-right: 2px dashed rgba(255, 255, 255, 0.13);
    width: 52px;
    height: 100%;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% + 596px + 173px);
    border-right: 2px dashed rgba(255, 255, 255, 0.13);
    width: 1px;
    height: 100%;
  }

  .container {
    border-right: 2px dashed rgba(255, 255, 255, 0.13);
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 48px;
      border-right: 2px dashed rgba(255, 255, 255, 0.13);
      width: 1px;
      height: 100%;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$xs} {
      flex-direction: column-reverse;
    }
  }

  &__content {
    background: $dark;
    width: 491px;
    padding: 163px 69px;
    position: relative;

    @media #{$lg} {
      padding: 80px 50px 50px;
    }

    @media #{$sm} {
      width: 400px;
    }

    @media #{$xs} {
      width: 100%;
      padding: 80px 15px 20px 30px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 8px;
      width: 1px;
      height: 100%;
      border-left: 2px dashed $borderColor;
    }
  }

  &__name {
    font-size: 35px;

    @media #{$sm} {
      font-size: 30px;
    }

    @media #{$xs} {
      font-size: 20px;
    }
  }

  &__desc {
    margin: 8px 0 23px;
    font-size: 20px;

    @media #{$sm} {
      font-size: 18px;
    }

    @media #{$xs} {
      font-size: 14px;
    }
  }

  &__right {
    @media #{$xs} {
      position: absolute;
      top: 0;
    }
  }

  &__title {
    font-size: 100px;
    margin-right: 113px;

    @media #{$lg} {
      margin-right: 0;
    }

    @media #{$sm} {
      font-size: 60px;
    }

    @media #{$xs} {
      font-size: 50px;
    }

    &:before {
      content: '<---';
      margin-right: 24px;
    }

    &:after {
      margin-left: 22px;
    }
  }
}