@import "layout/var";

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: $mainFont;
    background: $dark;
    color: white;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea, form {
    box-sizing: border-box;
    outline: none!important;
}

button,input,textarea{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
}
a {
    text-decoration: none;
}

a, button {
    transition: 0.3s;
    cursor: pointer;
}

a:focus {
    outline: none;
}

footer {
    margin: 0;
    padding: 0;
}


.container {
    width: 1192px;
    flex-shrink: 0;
    margin: 0 auto;

    @media (max-width: 1330px) {
        width: 1140px;
    }

    @media #{$lg} {
        width: 962px;
    }

    @media #{$sm} {
        width: calc(100% - 70px);
    }

    @media #{$xs} {
        width: calc(100% - 30px);
    }
}

.title {
    font-size: 50px;
    color: white;

    @include tag(white, 4px, 12px);

    @media #{$sm} {
        font-size: 35px;
    }

    &--rose {
        color: $rose;
    }

    &--green {
        color: $green;
    }

    &--orange {
        color: $orange;
    }
}

.last-sec {
    position: relative;

    &__code {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 420px;
        background: url('../img/code-bg.png');
        opacity: 0.5;
        z-index: 3;

        @media (max-width: 1500px) {
            width: 300px;
        }

        @media (max-width: 1330px) {
            width: 250px;
        }

        @media #{$sm} {
            opacity: 0.2;
        }

        @media #{$xs} {
            display: none;
        }
    }
}